html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  display: contents;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 1rem;
}

nav {
  grid-column: -1 / 4;
  grid-row: -5;
}

ul {
  display: flex;
  align-content: center;
  justify-content: space-around;
  padding: 0;
}

li {
  font-family: "Patua One", sans-serif;
  list-style: none;
  font-size: 2rem;
}

a {
  color: #fff;
}

.pano {
  grid-column: 1 / -1;
  grid-row: 5 / -5;
}

.logo {
  width: 22%;
  grid-column: 1 / -1;
  grid-row: 4;
  z-index: 1;
  margin-left: .5em;
}

img {
  width: 100%;
}

main {
  display: grid;
  grid-template-areas: "box1 box2";
  margin: 0;
  grid-template-columns: 1fr 1fr;
}

p {
  margin-top: .5rem;
}

figure:nth-child(1) {
  margin: 0;
  margin-top: 0;
  margin-right: .5rem;
  margin-left: 1rem;
  grid-area: box1;
}

figure:nth-child(2) {
  margin: 0;
  margin-top: 0;
  margin-left: .5rem;
  margin-right: 1rem;
  grid-area: box2;
}

h2 {
  margin-bottom: 0;
  font-family: "Patua One", serif;
  font-size: 1.5rem;
  color: #30658d;
}
